<div class="row">
  <div class="col s6">
    <div class="caixa">
      <h5>
        Sobre o Aplicativo!
      </h5>
    </div>
    <ul>
        <div class="caixa2">
          <li>Linguagem Utilizada: HTML, TypeScript juntamente ao Angular</li>
          <li>Biblioteca CSS Utilizada: Materialize</li>
        </div>
        <div class="caixa">
          <h5>
              Informações sobre o Autor:
          </h5>
        </div>
        <li>Desenvolvido por: Fernando Marques Candido</li>
        <li>Ocupação: Estudante do curso de Sistemas para a Internet do Senai Jaraguá do Sul</li>
    </ul>
  
    
  </div>

  <div class="col s6">
    <router-outlet></router-outlet>
  </div>
</div>