<div class="geral">
    <div class="fotoPerfil">
    </div>
    <br>
      <h4>Larrisa How</h4>
      <p>Web Design & Mobile Application Developer</p>
</div>

<div class="informacoes">
  <h5>Dados do Perfil:</h5>
  <h6>Formação acadêmica: Superior de Tecnologia em Sistemas para Internet(SENAI)</h6>
  <h6>Idade: 27 anos</h6>
  <h6>Telefone:(47) 99702-3261</h6>
  <h6>Ocupação profissional: Desenvolvedora de sistemas da Adapcon</h6>
</div>

<div class="descricao">
  <h5>Um pouco sobre Mim:</h5>
  <p>
    Gosto muito de estudar e amo meu trabalho! Apaixonada por programação desde meus 12 anos de idade, 
    quando meu pai me deu meu primeiro computador, e logo depois disso entrei no mundo da programção,
    e hoje não me vejo distante de forma alguma! Também gosto de assistir séries e tocar violino!
  </p>
</div>