<div class="geral">
  <!--*ngIf="mostrarMenu"-->
<nav *ngIf="mostrarMenu manterMenu">
  <div class="nav-wrapper">
    
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
      <li routerLinkActive="active"><a routerLink="/perfil">Perfil</a></li>
      <li routerLinkActive="active"><a routerLink="/sobre">Sobre</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

</div>